:root {
  --new_pne: #e5f2f3;
  --transparent: transparent;
  --silvonix-backgrounc: #dbeef2;
  --_ox_blue---dark_grey\<deleted\|variable-8bc135fb-58bc-f299-eee0-1b634ab0344f\>: #36454f;
  --dark_cam_blue: #4a6651;
  --more_info: #268a71;
  --cam_blue: #a3c1ad;
  --transparen: var(--silvonix-backgrounc);
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.navbar-logo-left {
  background-color: var(--new_pne);
}

.navbar-logo-left-container {
  z-index: 5;
  background-color: #0000;
  width: 1030px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1400px;
  margin-bottom: 0;
  padding: 20px 0;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 19px;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #1a1b1fbf;
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: #1a1b1fbf;
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider {
  background-color: #e4ebf3;
  width: 1px;
  height: 22px;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: #1a1b1fbf;
}

.button-primary {
  clear: none;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: -36px;
  margin-right: 13px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
  position: static;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.hero-stack {
  background-color: var(--new_pne);
  border-bottom: 1px solid #e4ebf3;
  justify-content: center;
  align-items: center;
  padding: 80px 30px;
  display: flex;
  position: relative;
}

.hero-wrapper-two {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px {
  color: #333;
  text-align: center;
  overflow-wrap: anywhere;
  vertical-align: baseline;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 1400px;
  margin: 15px auto 24px;
  font-family: Jost, sans-serif;
  font-size: 80px;
  font-weight: 600;
  line-height: 114px;
  display: block;
  overflow: auto;
}

.hero-image {
  width: 100%;
  margin-top: 50px;
}

.hero-image.shadow-two {
  aspect-ratio: auto;
  vertical-align: baseline;
  object-fit: fill;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 150%;
  margin-top: -129px;
  margin-left: -173px;
  margin-right: auto;
  padding-top: 0;
  font-size: 14px;
  display: inline-flex;
  overflow: clip;
}

.heading {
  background-color: var(--transparent);
  width: 10002px;
  max-width: 200%;
  margin-top: -51px;
  font-family: Playfair Display, sans-serif;
  font-weight: 400;
}

.body {
  background-color: var(--silvonix-backgrounc);
}

.bold-text {
  color: #dd1f1fcf;
}

.text-block {
  max-width: 70%;
  margin-left: 96px;
  margin-right: 0;
}

.paragraph {
  text-align: center;
  margin-top: 22px;
  font-family: Jost, sans-serif;
  font-size: 20px;
  line-height: 29px;
}

.text-span {
  color: var(--_ox_blue---dark_grey\<deleted\|variable-8bc135fb-58bc-f299-eee0-1b634ab0344f\>);
}

.button {
  background-color: var(--dark_cam_blue);
  border-radius: 7px;
  margin-top: -53px;
  margin-left: auto;
  margin-right: auto;
  font-family: Jost, sans-serif;
}

.section {
  text-align: center;
  margin-top: -42px;
}

.footer-light {
  background-color: var(--new_pne);
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px 40px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper-two {
  justify-content: space-between;
  align-items: flex-start;
  width: 1400px;
  max-width: 1300px;
  margin-left: -180px;
  display: flex;
}

.footer-block-two {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.footer-link-two {
  color: #1a1b1f;
  margin-top: 20px;
  text-decoration: none;
}

.footer-link-two:hover {
  color: #1a1b1fbf;
}

.footer-form {
  width: 315px;
  max-width: 100%;
  margin-bottom: 0;
}

.footer-form-block {
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.footer-form-field {
  border: 1px solid #a6b1bf;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 48px;
  margin-bottom: 0;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 22px;
  transition: all .2s;
}

.footer-form-field:hover, .footer-form-field:focus {
  border-color: #76879d;
}

.footer-form-field::placeholder {
  color: #1a1b1fcc;
  font-size: 14px;
  line-height: 22px;
}

.footer-form-submit {
  background-color: #1a1b1f;
  background-image: url('../images/');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 50px;
  height: 48px;
  transition: all .2s;
}

.footer-form-submit:hover {
  background-color: #3a4554;
}

.footer-divider-two {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-copyright {
  color: #3a4554;
  text-align: left;
  margin-left: 250px;
}

.footer-social-block-two {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.team-circles {
  background-color: var(--new_pne);
  border-bottom: 1px solid #e4ebf3;
  justify-content: center;
  align-items: center;
  padding: 80px 30px;
  display: flex;
  position: relative;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  max-width: 940px;
  margin-top: 0;
  margin-bottom: 16px;
}

.centered-subheading {
  text-align: center;
  max-width: 951px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  line-height: 25px;
}

.team-grid {
  grid-column-gap: 64px;
  grid-row-gap: 56px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(0, 1fr);
  grid-auto-columns: 1fr;
  margin-top: 50px;
  display: grid;
}

.team-card {
  text-align: center;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  display: flex;
}

.team-member-image {
  object-fit: cover;
  border-radius: 50%;
  width: 270px;
  height: 270px;
  margin-bottom: 24px;
}

.team-member-name {
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.team-member-position {
  margin-bottom: 24px;
}

.paragraph-2, .paragraph-3 {
  text-align: justify;
}

.div-block {
  margin-left: auto;
  margin-right: auto;
}

.image {
  max-width: 150%;
  margin-top: -161px;
  margin-left: -193px;
}

.margin-bottom-24px-copy {
  float: left;
  flex-flow: column;
  justify-content: center;
  width: auto;
  max-width: 1400px;
  margin: 15px auto 24px;
  font-family: Jost, sans-serif;
  font-size: 89px;
  font-weight: 600;
  line-height: 114px;
  display: block;
  position: relative;
  left: auto;
}

.hero-heading-center {
  background-color: var(--new_pne);
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-4 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading-2 {
  text-align: center;
  margin-bottom: 16px;
}

.centered-heading-2.margin-bottom-32px {
  margin-bottom: 32px;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

.margin-bottom-24px-2 {
  margin-bottom: 24px;
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.shadow-two {
  box-shadow: 0 4px 24px #96a3b514;
}

.section-2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.text-block-2 {
  text-align: center;
}

.image-2 {
  margin-top: -200px;
}

.text-block-3 {
  text-align: center;
  color: #36454f;
  margin-top: -63px;
  font-family: Playfair Display, sans-serif;
  font-size: 32px;
  line-height: 36px;
}

.paragraph-4 {
  text-align: center;
}

.text-span-2, .text-span-3 {
  color: red;
}

.image-3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.red {
  color: red;
}

.technology {
  background-color: #f7fbfc;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-5 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading-3 {
  text-align: center;
  margin-bottom: 16px;
}

.centered-heading-3.margin-bottom-32px {
  margin-bottom: 32px;
}

.hero-wrapper-2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

.margin-bottom-24px-3 {
  margin-bottom: 24px;
}

.button-primary-3 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-3:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-3:active {
  background-color: #43464d;
}

.shadow-two-2 {
  box-shadow: 0 4px 24px #96a3b514;
}

.card-subtitle {
  width: 800px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.c-cloneable {
  width: 100%;
  max-width: 1300px;
  margin-left: -173px;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

._w-cards-list {
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  position: sticky;
  top: 1px;
}

.card-title {
  text-align: left;
  width: 800px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1em;
}

.c-cards-list {
  transition: all .2s;
  position: relative;
}

.c-card {
  width: 100%;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  transition: all .25s;
  position: relative;
}

.c-card._2 {
  position: sticky;
  top: 100px;
}

.c-card._5 {
  position: sticky;
  top: 340px;
}

.c-card._1 {
  position: sticky;
  top: 20px;
}

.c-card._3 {
  position: sticky;
  top: 180px;
}

.c-card._4 {
  position: sticky;
  top: 260px;
}

.c-card-title {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 10px;
  display: grid;
}

._w-card {
  background-color: #fff;
  border-radius: 10px;
  width: 1000px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  position: relative;
  box-shadow: 1px 1px 15px #13131380;
}

.card-details {
  margin-bottom: 0;
}

.c-card-content-divider {
  border-bottom: 1px dashed #bbb;
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.c-card-details {
  margin-bottom: 20px;
}

.title_1 {
  color: #373c4a;
  margin-left: 116px;
  font-family: Exo, sans-serif;
  font-size: 44px;
  font-weight: 600;
}

.section-3 {
  background-color: #b88517;
  width: 250px;
  margin-top: 20px;
  margin-bottom: -73px;
  margin-left: 117px;
  padding: 4px 1px 0 10px;
  font-size: 71px;
}

.button-2.w--current {
  background-color: var(--more_info);
  border-radius: 8px;
  display: inline-block;
}

.section-4 {
  text-align: right;
}

.section-5, .section-6 {
  height: 5px;
}

.bold-text-3 {
  font-size: .9em;
  font-weight: 700;
}

.section-7 {
  margin-left: auto;
  margin-right: auto;
}

.hover-line {
  height: 1px;
  position: absolute;
  inset: auto 0% -1px;
  overflow: hidden;
}

.grid-wrapper {
  z-index: 10;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: minmax(5vw, 1fr) minmax(auto, 1400px) minmax(5vw, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
  position: relative;
}

.service-card-hover {
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #ff6f44;
  justify-content: center;
  align-items: center;
  height: 24px;
  font-size: 9px;
  line-height: 1em;
  display: flex;
  position: absolute;
  inset: -24px 0% auto;
}

.underline-link {
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-bottom: 1px solid #fffc;
  padding-bottom: 6px;
  padding-left: 0;
  font-size: 9px;
  text-decoration: none;
  position: relative;
}

.underline-link.dark {
  color: #626d86;
  border-bottom-color: #889ea833;
}

.hover-line-fill {
  background-color: #a3acc2;
  width: 100%;
  height: 100%;
}

.service-link-name {
  text-align: center;
  border-bottom: 1px solid #889ea833;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.service-bottom {
  grid-column-gap: 16px;
  grid-row-gap: 60px;
  text-align: left;
  border-top: 1px #eef0f6;
  border-right: 1px solid #889ea833;
  flex-direction: column;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: space-between flex-end;
  width: 100%;
  padding: 60px 36px 36px;
  display: grid;
}

.service-bottom.end {
  border-right-style: none;
}

.service-description {
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.body-display {
  color: #626d86;
  font-size: 17px;
  line-height: 1.6em;
}

.body-display.small {
  font-size: 14px;
  line-height: 1.45em;
}

.subtitle {
  color: #626d86;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 11px;
}

.section-8 {
  padding-top: 140px;
  padding-bottom: 140px;
  position: relative;
}

.section-8.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.service-link-top {
  z-index: 10;
  background-color: #fff;
  border-bottom: 1px #889ea833;
  border-right: 1px #889ea833;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding-left: 36px;
  padding-right: 36px;
  display: flex;
  position: relative;
}

.service-link-top.end {
  border-right-style: none;
}

.service-icon {
  background-color: #eef0f6;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 16px;
  display: flex;
}

.services-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  background-color: #fff;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  min-height: 70px;
  margin-top: -80px;
  display: grid;
}

.service-link {
  color: #000;
  border-right: 1px #889ea833;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-decoration: none;
  display: flex;
  position: relative;
}

.hero-heading-center-2 {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-6 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading-4 {
  text-align: center;
  margin-bottom: 16px;
}

.centered-heading-4.margin-bottom-32px {
  margin-bottom: 32px;
}

.hero-wrapper-3 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split-3 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

.margin-bottom-24px-4 {
  margin-bottom: 24px;
}

.button-primary-4 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-4:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-4:active {
  background-color: #43464d;
}

.shadow-two-3 {
  box-shadow: 0 4px 24px #96a3b514;
}

@media screen and (min-width: 1280px) {
  .service-bottom {
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .service-link-top {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .margin-bottom-24px {
    color: #413f44;
    width: 1500px;
    max-width: 1400px;
    max-height: 434px;
    margin-bottom: 0;
    font-size: 93px;
    font-weight: 600;
    text-decoration-style: solid;
    overflow: visible;
  }

  .paragraph {
    text-align: left;
    margin-top: 0;
    margin-bottom: 100px;
    line-height: 35px;
  }

  .team-member-image {
    width: 270px;
    height: 270px;
    max-height: none;
  }

  .image-2 {
    text-align: center;
    display: block;
  }

  .image-3 {
    margin: 36px auto 93px;
    display: block;
  }

  .heading-2 {
    text-align: center;
    flex: 1;
  }

  .red {
    color: #ee5154;
    font-size: 100px;
  }

  .card-subtitle {
    padding-bottom: 0;
  }

  .c-cloneable {
    margin-left: auto;
  }

  ._w-cards-list {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .card-title {
    margin-bottom: 10px;
    font-weight: 700;
  }

  .c-card-title {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 5fr .25fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  ._w-card {
    width: auto;
    max-width: none;
    margin-bottom: 400px;
    margin-left: -200px;
    margin-right: -200px;
    padding-bottom: 55px;
    font-size: 14px;
    line-height: 22px;
  }

  .card-details {
    text-align: justify;
    font-size: 18px;
    line-height: 26px;
  }

  .title_1 {
    color: var(--more_info);
    margin-left: 104px;
  }

  .section-3 {
    opacity: 1;
    mix-blend-mode: normal;
    width: 244px;
    margin-bottom: 0;
    margin-left: 116px;
    padding-top: 4px;
    padding-left: 0;
    padding-right: 135px;
    display: none;
  }

  .bold-text-2 {
    color: #4d3902;
    font-size: 20px;
    font-weight: 400;
  }

  .button-2 {
    background-color: var(--more_info);
    text-align: center;
    word-break: normal;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    border-radius: 8px;
    margin-left: 22px;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    line-height: 21px;
    text-decoration: none;
  }

  .section-4 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    height: 43px;
    display: grid;
  }

  .section-5 {
    height: 5px;
    min-height: 0;
    padding-bottom: 0;
  }

  .section-6 {
    height: 5px;
    padding-bottom: 0;
  }

  .section-7 {
    margin-bottom: 200px;
  }

  .service-card-hover {
    background-color: var(--more_info);
  }

  .body-display.small {
    margin-top: -45px;
  }

  .subtitle {
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 700;
  }

  .section-8.no-padding.fff-copy {
    flex-flow: row;
    margin-top: -81px;
    display: block;
  }

  .hero-heading-center-2 {
    background-color: #e9eaee;
  }

  .section-9 {
    margin-top: 0;
  }

  .bold-text-4, .bold-text-5, .bold-text-6, .bold-text-7, .bold-text-8 {
    color: #ff6f44;
  }

  .image-4 {
    text-align: left;
    width: 200px;
    max-width: none;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .image-5, .image-6, .image-7 {
    width: 200px;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: #0000;
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .margin-bottom-24px {
    width: 700px;
    max-width: 700px;
    font-size: 78px;
  }

  .hero-image.shadow-two {
    max-width: 100%;
    margin-left: auto;
  }

  .heading {
    max-width: 100%;
  }

  .body {
    background-color: var(--new_pne);
  }

  .footer-light {
    width: 50px;
    max-width: 100%;
    padding-left: 200px;
  }

  .container-2 {
    max-width: 728px;
  }

  .footer-wrapper-two {
    flex-wrap: wrap;
    width: 600px;
    max-width: 600px;
    margin-left: -134px;
  }

  .footer-form {
    width: 100%;
    margin-top: 40px;
  }

  .footer-form-container {
    max-width: 350px;
    margin-left: 200px;
  }

  .container-3 {
    max-width: 728px;
  }

  .team-grid {
    grid-column-gap: 40px;
  }

  .team-member-image {
    width: 190px;
    height: 190px;
  }

  .image {
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
  }

  .margin-bottom-24px-copy {
    max-width: 700px;
  }

  .container-4 {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .container-5 {
    max-width: 728px;
  }

  .hero-wrapper-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split-2 {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .card-subtitle {
    width: 600px;
  }

  .card-title {
    width: 600px;
    font-size: 1.3em;
  }

  ._w-card {
    width: 729px;
    margin-left: 128px;
  }

  .title_1 {
    margin-left: 14px;
    font-size: 29px;
  }

  .bold-text-2 {
    font-size: 17px;
  }

  .div-block-2 {
    width: 570px;
  }

  .service-card-hover {
    display: none;
  }

  .service-bottom {
    padding-top: 48px;
  }

  .section-8 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .services-wrapper {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    background-color: #0000;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }

  .service-link {
    background-color: #fff;
  }

  .container-6 {
    max-width: 728px;
  }

  .hero-wrapper-3 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split-3 {
    max-width: 100%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    max-width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .hero-stack {
    padding: 60px 15px;
  }

  .margin-bottom-24px {
    width: 500px;
    max-width: 500px;
    font-size: 55px;
    line-height: 80px;
  }

  .hero-image.shadow-two {
    margin-top: 0;
  }

  .button {
    margin-top: 42px;
    margin-bottom: 0;
  }

  .footer-light {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper-two {
    max-width: 500px;
    margin-left: 0;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-copyright {
    text-align: center;
    width: 400px;
    max-width: 400px;
    margin-left: 80px;
    font-size: 14px;
    line-height: 20px;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .team-circles {
    padding: 60px 15px;
  }

  .team-grid {
    grid-template-columns: 1fr 1fr;
  }

  .margin-bottom-24px-copy {
    width: 500px;
    max-width: 500px;
    font-size: 70px;
    line-height: 80px;
  }

  .hero-heading-center, .technology {
    padding: 60px 15px;
  }

  .card-subtitle {
    width: 370px;
  }

  ._w-cards-list {
    width: auto;
    margin-left: -80px;
    margin-right: auto;
  }

  .card-title {
    width: 360px;
    font-size: 1.3em;
    line-height: 1.4em;
  }

  ._w-card {
    width: 500px;
    margin-left: 250px;
  }

  .bold-text-2 {
    font-size: 14px;
  }

  .section-8 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .services-wrapper {
    grid-template-columns: 1fr;
  }

  .hero-heading-center-2 {
    padding: 60px 15px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .margin-bottom-24px {
    object-fit: fill;
    width: 100%;
    max-width: 100%;
    height: auto;
    font-size: 35px;
    line-height: 59px;
    overflow: visible;
  }

  .hero-image.shadow-two {
    margin-top: 0;
  }

  .container-2 {
    max-width: none;
  }

  .footer-wrapper-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-block-two {
    margin-top: 40px;
  }

  .footer-form-container {
    margin-left: -8px;
  }

  .footer-form-field {
    width: 215px;
    margin-left: -74px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }

  .container-3 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .team-grid {
    grid-template-columns: 1fr;
  }

  .margin-bottom-24px-copy {
    object-fit: fill;
    width: 100%;
    max-width: 100%;
    height: auto;
    font-size: 45px;
    line-height: 59px;
    overflow: visible;
  }

  .container-4 {
    max-width: none;
  }

  .centered-heading-2 {
    margin-bottom: 24px;
  }

  .container-5 {
    max-width: none;
  }

  .centered-heading-3 {
    margin-bottom: 24px;
  }

  .card-subtitle {
    width: 210px;
    font-size: 1.3em;
    line-height: 1em;
  }

  .card-title {
    width: 240px;
    font-size: 1.7em;
  }

  .c-card._2 {
    margin-left: 220px;
    top: 80px;
  }

  .c-card._5 {
    margin-left: 220px;
    top: 260px;
  }

  .c-card._1 {
    margin-left: 220px;
  }

  .c-card._3 {
    margin-left: 220px;
    top: 140px;
  }

  .c-card._4 {
    margin-left: 220px;
    top: 200px;
  }

  ._w-card {
    width: 270px;
    margin-bottom: 70px;
    margin-left: auto;
    padding: 20px;
  }

  .card-details {
    font-size: 1.1em;
    line-height: 1.2em;
  }

  .c-card-content-divider {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .title_1 {
    font-size: 20px;
    line-height: 25px;
  }

  .bold-text-2 {
    width: auto;
    font-size: 15px;
  }

  .div-block-2 {
    width: 230px;
  }

  .section-8 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .container-6 {
    max-width: none;
  }

  .centered-heading-4 {
    margin-bottom: 24px;
  }
}

#w-node-_8a1408a8-6a62-0af6-47d8-a3115967d31e-5844858e {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_8a1408a8-6a62-0af6-47d8-a3115967d32d-5844858e {
  justify-self: start;
}

#w-node-_8a1408a8-6a62-0af6-47d8-a3115967d33d-5844858e {
  align-self: end;
}

#w-node-_8a1408a8-6a62-0af6-47d8-a3115967d340-5844858e, #w-node-_8a1408a8-6a62-0af6-47d8-a3115967d353-5844858e, #w-node-_8a1408a8-6a62-0af6-47d8-a3115967d366-5844858e {
  justify-self: start;
}

#w-node-_70ea6f9a-7451-b48c-0f63-8068b3453143-5844858e, #w-node-c731befd-8982-9a59-0c4d-9fbab5b80fd6-5844858e, #w-node-_29359bdd-e1ef-c1a9-c44c-7a0160b81f23-5844858e, #w-node-_64ee9fb6-58cb-b7d7-8453-4c23296e9f13-5844858e, #w-node-_07e5f139-3541-1667-1e23-5eddae88c687-5844858e {
  justify-self: end;
}

#w-node-_75ebcf13-d002-300a-497c-59a653eef502-53eef4fc, #w-node-_75ebcf13-d002-300a-497c-59a653eef50c-53eef4fc {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (min-width: 1440px) {
  #w-node-_2985f627-a60a-e786-92e4-6027a381b285-5844858e {
    place-self: auto;
  }

  #w-node-_70ea6f9a-7451-b48c-0f63-8068b3453143-5844858e {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center end;
  }

  #w-node-_5a7be557-ef6e-5436-b88d-c199016dd3ef-5844858e {
    grid-area: 1 / 6 / 2 / 7;
    place-self: center;
  }

  #w-node-c731befd-8982-9a59-0c4d-9fbab5b80fd6-5844858e {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center end;
  }

  #w-node-c731befd-8982-9a59-0c4d-9fbab5b80ff2-5844858e {
    grid-area: 1 / 6 / 2 / 7;
    place-self: center;
  }

  #w-node-_29359bdd-e1ef-c1a9-c44c-7a0160b81f23-5844858e {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center end;
  }

  #w-node-_29359bdd-e1ef-c1a9-c44c-7a0160b81f3f-5844858e {
    grid-area: 1 / 6 / 2 / 7;
    place-self: center;
  }

  #w-node-_64ee9fb6-58cb-b7d7-8453-4c23296e9f13-5844858e {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center end;
  }

  #w-node-_64ee9fb6-58cb-b7d7-8453-4c23296e9f2f-5844858e {
    grid-area: 1 / 6 / 2 / 7;
    place-self: center;
  }

  #w-node-_07e5f139-3541-1667-1e23-5eddae88c687-5844858e {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center end;
  }

  #w-node-_07e5f139-3541-1667-1e23-5eddae88c6a3-5844858e {
    grid-area: 1 / 6 / 2 / 7;
    place-self: center;
  }

  #w-node-_75ebcf13-d002-300a-497c-59a653eef50c-53eef4fc {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 991px) {
  #w-node-_70ea6f9a-7451-b48c-0f63-8068b3453143-5844858e, #w-node-c731befd-8982-9a59-0c4d-9fbab5b80fd6-5844858e, #w-node-_29359bdd-e1ef-c1a9-c44c-7a0160b81f23-5844858e, #w-node-_64ee9fb6-58cb-b7d7-8453-4c23296e9f13-5844858e, #w-node-_07e5f139-3541-1667-1e23-5eddae88c687-5844858e {
    align-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_70ea6f9a-7451-b48c-0f63-8068b3453143-5844858e, #w-node-c731befd-8982-9a59-0c4d-9fbab5b80fd6-5844858e, #w-node-_29359bdd-e1ef-c1a9-c44c-7a0160b81f23-5844858e, #w-node-_64ee9fb6-58cb-b7d7-8453-4c23296e9f13-5844858e, #w-node-_07e5f139-3541-1667-1e23-5eddae88c687-5844858e {
    align-self: center;
  }
}


